<!DOCTYPE html>
<html>
	<head>
		<meta lang="en">
		<meta charset="UTF-8">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'global.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'view.css') }}">
		<title>SURL</title>
	</head>
	<body>
		<div id="wrapper">
            <header>
                <h1 id="title"><a href="/">SURL</a></h1>
                <div id="url_map">
                    <a href="/">Home</a>
                    <a href="/view/0">View</a>
                </div>
            </header>
            <p id="description">SURL a local URL shortening service.</p>
            <div id="control_panel">
				<a href='{{ back }}'><button>back</button></a>
				<a href='{{ next }}'><button>next</button></a>
            </div>
			<div id="current_map">
				{% for record in records %}
				<div class="route_map_object">
					<a dbid="{{ record[0] }}" origin="{{ record[1] }}" class="routes" href="{{ '/route/' + record[2] }}">{{ record[2] }}</a>
					<div id="rclick_menu">
						<button onclick="clipboard(this)" id="copy_button">copy</button>
						<button onclick="remove(this)" id="delete_button">delete</button>
						<button id="edit_button">edit</button>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<script src="{{ url_for('static', filename='view.js') }}"></script>
	</body>
</html>